<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="stylesheet" href="/css/detail.css">
</head>
<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle'}) %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

<main>

	<!-- product detail -->
	<div class="container-products-wrapper">
		<div class="box-izquierda">

			<figure class="product-detail-img">
					<img src="/images/products/<%= products.image %>" alt="product image" class="product-detail-img" width=100%>
					</figure>
			
		
			<div class="product-detail">

					<h2 class="product-title">Detalle del juego: <%= products.name %> </h2>

					<p class="product-detail-description"><%= products.description %></p>
			</div>
		</div>

				<div class="box-derecha">
					<article class="product-detail-info">
						<h2 class="product-detail-title"> Información De Pago</h2>
						
							<p class="product-detail-price small">
								<span>$<%= products.price %></span>
								/
								<b><%= products.discount %>% OFF</b>
							</p>
							<p class="product-detail-price">
							 	Precio Final $ <%=  products.price - (products.price * products.discount / 100) %>
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

							<div class="campo-boton-comprar">
								<button type="submit" class="action-button-comprar">COMPRAR AHORA</button>
							</div>

							<div class="botones-eliminar-editar"> 
						
						<!-- <form action="/products/edit/<%= products.id %>?_method=PUT" method="POST" style="display: inline-flex"> -->
							
							<div class="campo-boton-editar">
								<a href="/products/edit/<%= products.id %>"  class="action-button-edit">EDITAR</a>				
							</div>
							

							
						<!-- </form> -->

						<form action="/products/delete/<%= products.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							
							<div class="campo-boton-eliminar">
								<button type="submit" class="action-button-delete">ELIMINAR</button>
							</div>

							</div>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>