<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="stylesheet" href="/css/store.css">
</head>
<!-- Include Head -->
<%- include('partials/head', {title: 'Store'}) %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

<main>

	<div class="search-container" id="search-container-id">
			
			<form action="/products/search" method="GET">
			<div class="search">	
			  <input type="text" name="search" placeholder="Buscar productos...">
			  <button type="submit">Buscar</button>
			</div>
			<div class="filter">
			  <select name="genre">
				<option value="">Seleccionar género</option>
				<option value="acción">Acción</option>
				<option value="aventura">Aventura</option>
				<option value="deportes">Deportes</option>
				<option value="estrategia">Estrategia</option>
			  </select>
			  <label for="inOffer">
				<input type="checkbox" id="inOffer" name="inOffer" value="true">
				En oferta
			  </label>
			  <label for="newGame">
				<input type="checkbox" id="newGame" name="newGame" value="true">
				Nuevo juego
			  </label>
			  <button type="submit">Filtrar</button>
			</div>
			</form>
	</div>
		  
	

	<!-- Todos los juegos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos nuestros productos (<%= products.length %>)</h2>
			</div>
			<!-- Mostrar los juegos Nuevos dinámicamente (usando un for o foreach) -->
			<% products.forEach(products => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detail/<%= products.id %>">
							<figure class="product-box-image">
								<img src="/images/products/<%= products.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box-data">
								<h2 class="price">$<%= products.price %></h2>
								<span class="discount"><p><%= products.discount %> % </p></span>
								<p class="game-title"><%= products.name %></p>
								<p class="game-description"><%= products.description %></p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
			
		</div>
	</div>
	<!-- /todos los juegos -->

</main>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>