<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<%- include('../partials/head', {title: 'Login'}) %>

<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

<%- include('../partials/header', {title: 'Login'}) %>    


<div class="container" style="margin-top: 40px;">
    <div class="row">
        <h1> Bienvenido a tu sesión: <%= userLogged.fullName %> </h1>
        <h2> Te compartimos tus datos: </h2>
        <h3> Tu ID de usuario: <%= userLogged.id %> </h3>
        <h3> Tu usuario: <%= userLogged.user %> </h3>
        <h3> Tu email: <%= userLogged.email %> </h3>
        <h3> Tu avatar: <%= userLogged.avatar %> </h3>
    </div>
  </div>

<div class="row">
    <a href="/users/logout" class="btn btn-danger">Cerrar sesión</a>
</div>


<!-- ***********************************************************************
                        Footer 
************************************************************************ -->

    
        
<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->

</body>
</html>