<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<%- include('../partials/head', {title: 'Login'}) %>

<!--***********************************************************************
                    Header 
************************************************************************-->

<%- include('../partials/header', {title: 'Login'}) %>


<div class="container">
    <div class="profile-section">
        <h1 class="profile-title">Bienvenido a tu sesión: <%= userLogged.fullName %></h1>
        <div class="profile-info">
            <div class="profile-info-item">
                <h2 class="profile-info-title">ID de usuario:</h2>
                <p class="profile-info-text"><%= userLogged.id %></p>
            </div>
            <div class="profile-info-item">
                <h2 class="profile-info-title">Usuario:</h2>
                <p class="profile-info-text"><%= userLogged.user %></p>
            </div>
            <div class="profile-info-item">
                <h2 class="profile-info-title">Email:</h2>
                <p class="profile-info-text"><%= userLogged.email %></p>
            </div>
            <div class="profile-info-item">
                <h2 class="profile-info-title">Avatar:</h2>
                <img class="profile-avatar" src="/images/avatars/<%= userLogged.avatar %>" alt="Avatar">
            </div>
        </div>
    </div>
    <div class="logout-section">
        <a href="/users/logout" class="btn btn-danger">Cerrar sesión</a>
    </div>
</div>

<!-- ***********************************************************************
                    Footer 
************************************************************************ -->

<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
