<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/register.css">
</head>

<%- include('../partials/head', {title: 'Register'}) %>

<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

<%- include('../partials/header', {title: 'Login'}) %>    

<!--***********************************************************************
                        Register
************************************************************************-->


<main class="main-register-section">

    <div class="register-widget">
         <!-- dudas en este action -->
       <!-- este enctype multipart data es importante //indica que es informacion que viene con texto y archivos//luego de esto instalar multer -->
            <form method="post" action="/users/register" class="formulario-register" enctype="multipart/form-data">
                    <label><b>Nombre Completo:</b></label>
                    <div class="campo">
                        <input
                        id="nombre"
                        type="text"
                        name="fullName"
                        placeholder="Nombre Completo" 
                        class="form-control <%=locals.errors && errors.fullName? "is-invalid" : null %>"
                        value = "<%= locals.oldData ? oldData.fullName : null %>"

                    >
                    <% if(locals.errors &&errors.fullName) { %>
                        <div class="text-danger">
                            <%= errors.fullName.msg %> 
                        </div>
                    <%} %>

                    

                    </div>
                    <label><b>Nombre de usuario:</b></label>
                    <div class="campo">
                        
                        <input 
                            id="usuario"
                            type="text" 
                            name="usuario" 
                            placeholder="Usuario" 
                            class="form-control <%=locals.errors && errors.usuario? "is-invalid" : null %>"
                        value = "<%= locals.oldData ? oldData.usuario : null %>"

                    >
                    <% if(locals.errors &&errors.fullName) { %>
                        <div class="text-danger">
                            <%= errors.usuario.msg %> 
                        </div>
                    <%} %>

                    </div>
                    <label><b>Correo electronico: </b></label>
                    <div class="campo">
                        <input 
                        id="email"
                        type="text" 
                        name="email" 
                        placeholder="Dirección de email" 
                        class ="form-control <%= locals.errors && errors.mail ? "is-invalid" : null  %> "
                        value="<%= locals.oldData ? oldData.email :null %>"
                    >
                    <% if (locals.errors && errors.email) {%>
                        <div class ="text-danger">
                            <%=errors.email.msg  %> 
                        </div>
                    <%} %>
                    </div>


                    <label><b>Password: </b></label>
                    <div class="campo">
                        
                        <input 
                            id="password"
                            type="password" 
                            name="password" 
                            placeholder="Contraseña" 
                            class="form-control <%=locals.errors && errors.password ? "is-invalid" : null %>"
                    >
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %> 
                    </div>

                    <label><b>Imagen de perfil</b></label>
                    <div class ="form-group ">
                        <input
                        id="imagen"
                        type="file"
                        name="avatar"
                        class="form-control <%=locals.errors && errors.avatar ? "is-invalid" : null%>"
                        >
                        <% if(locals.errors && errors.avatar) { %> 
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>


                    <div class="campo, boton-crear">
                        <button type="submit">Crear Usuario</button>
                    </div>
            </form>

    </div>
</main> 

<!--***********************************************************************
                        Footer 
************************************************************************-->

<!-- footer -->
<%- include('../partials/footer') %>
<!-- /footer -->
        
    <script src="/js/register.js"></script>

</body>
</html>